<!DOCTYPE html>

<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       
        <style>
        html, body {
  max-width: 100%;
  overflow-x: hidden;
}


        
        </style>


    </head>
    <body>

            
            <header id="main-header" class="py-2 #DC872C; text-white" style="background-color: #DC872C;">
                    <div class="wrapper container" >
                    
                        
                      <div class="row">
                        <div class="col-md-12 text-center">

                          <h1 style="color: #IF86B1;"><i class="fa fa-gear"></i> Food Delivery Service</h1>
                          
                        </div>
                      </div>
                   
                    </div>
                  </header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                    <div class="container">

                      <button
                        class="navbar-toggler"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                      >
                        <span class="navbar-toggler-icon"></span>
                      </button>

<!--                        menu here-->

                    </div>
                  </nav>

                  
                        <div class="row justify-content-center">
                    <div class="col-md-6 "><br><br>
                        <img style="margin-left: 150px;" src="https://i.ibb.co/3y3Ng7C/Buffet-logo-2-CEA4-A4915-seeklogo-com.png" alt="4b0b0c61-701c-44b9-a8a2-9fdeab1392cf" border="0" width="380px" height="300px">

                        <!-- Default fo
rm login -->
<form class="text-center border border-light p-5" method="post" action="login_check">
{% csrf_token %}

        <p class="h4 mb-4">Sign in/تسجيل الدخول</p>
    
        <!-- Email -->
        <input type="text" name="username"  class="form-control mb-4" placeholder="Username/
اسم المستخدم">

        <!-- Password -->
        <input type="password" name="password" class="form-control mb-4" placeholder="Password/كلمه السر">
    

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit" style="background-color: #IF86B1; color: #IF86B1; ">Sign in/تسجيل الدخول</button>
    
        <!-- Register -->
        <p style="color: #IF86B1;">Not a member?
            <a href="registration" style="color: #IF86B1;"> <p style="color: #IF86B1;">Register/تسجيل </p></a>
        </p>
    
       
    
    </form>
</div>

</div>

    <!-- Default form login -->
    
</br></br>

<div style="text-align: center;">
    <hr>
        <p style="color: #IF86B1;">&copy 2021,Food Delivery Service</p>
    </hr>
    </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <script src="" async defer></script>
    </body>
</html>











